.article {
    margin: 20px;

    .image img {
        border-radius: 5px;
        display: block;
        width: 100%;
    }
}

.btn-back {
    background: #263238;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    margin-bottom: 10px;
    padding: 7px 10px;

    span {
        display: inline-block;
        margin: 3px;
    }
}
