@import "../../assets/scss/variables";

.article-list-item {
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(51, 51, 51, 0.1);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
    overflow: hidden;
    position: relative;

    a {
        color: #000;
        display: block;
        width: 100%;

        &:visited {
            color: #000;
        }
    }

    .image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: calc(591.44 / 1127.34 * 100%);
        position: relative;

        .badge {
            background: #c62828;
            border-radius: 3px;
            color: #fff;
            display: inline-block;
            padding: 5px 7px;
            position: absolute;
            right: 7px;
            text-transform: capitalize;
            top: 7px;
        }

        .show-more-container {
            bottom: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;

            .btn.show-more {
                background: #2196f3;
                border-radius: 3px;
                color: #fff;
                padding: 8px 10px;
                min-width: 50px;
                opacity: 0;
                text-align: center;
                transition: all 0.2s ease-in-out;
            }

            &:hover .btn.show-more {
                opacity: 1;
            }
        }
    }

    .content {
        padding: 20px 20px;

        .title {
            font-size: 1.4em;
            margin-bottom: 10px;
        }

        .meta {
            color: #9e9e9e;
            font-size: 1.05em;
            font-weight: bold;
            margin-bottom: 5px;
        }
    }

    .footer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-top: 20px;

        .price {
            color: #424242;
            font-weight: bold;
        }

        .like {
            color: #424242;
            padding: 3px 5px;

            .fa {
                font-weight: bold;
                transition: all 0.25s ease-in-out;
            }

            &.active {
                color: #e53935;

                &:hover {
                    text-shadow: 0 5px 5px rgba(229, 57, 53, 0.35);
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .article-list-item {
        width: calc(33.33% - 40px);
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    .article-list-item {
        width: calc(50% - 40px);
    }
}

@media (max-width: 576px) {
    .article-list-item {
        width: calc(100% - 40px);
    }
}
