.loading {
    color: #2196f3;
    padding: 20px;
    text-align: center;
    width: 100%;

    .fa {
        color: #607d8b;
    }

    span {
        color: #607d8b;
        display: inline-block;
        font-weight: bold;
        margin-left: 5px;
    }
}
